body {
         font-family: 'Montserrat', sans-serif;
         background-color: #F5F7FA;
         background: url(/img/pattern-28.svg);
}
/* main styles */
.main {
         display: flex;
         flex-direction: row-reverse;
         width: 1200px;
         margin: 0 auto;
}
/* Main content styles */
.main_content {
         background-color: #FFFFFF;
         box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
         padding: 105px 90px;
}
/* About user styles */
.about {}
.about_position {
         font-style: normal;
         font-weight: 700;
         font-size: 14px;
         line-height: 17px;
         color: #000000;
         margin-bottom: 20px;
}
.about_name {
         font-style: normal;
         font-weight: 700;
         font-size: 45px;
         line-height: 55px;
         color: #000000;
         margin-bottom: 25px;
}
.about_discription {
         font-style: normal;
         font-weight: 400;
         font-size: 14px;
         line-height: 24px;
         color: #595959;
         width: 400px;
         margin-bottom: 40px;
}
/* Project styles  */
.projects {
        margin-bottom: 50px;
        width: 570px;
}

.tittle {
         font-style: normal;
         font-weight: 700;
         font-size: 22px;
         line-height: 27px;
         color: #000000;
         margin-bottom: 10px;
}
.projects_list {
        padding: 0px;
        margin-left: 15px;
}
.project_item , .project_bracket {
         font-style: normal;
         font-weight: 700;
         font-size: 14px;
         line-height: 24px;
         color: #000000;
}
.project_text {
         font-style: normal;
         font-weight: 400;
         font-size: 14px;
         line-height: 24px;
         color: #595959;
         margin-left: 10px
}
/* work styles */
.work {}
.work_position {
         font-style: normal;
         font-weight: 700;
         font-size: 16px;
         line-height: 20px;
         color: #000000;
         padding-bottom: 10px;
}
.company_color {
         font-style: normal;
         font-weight: 700;
         font-size: 16px;
         line-height: 20px;
         color: #FB6D3A;
}
.work_period {
         font-style: normal;
         font-weight: 400;
         font-size: 12px;
         line-height: 15px;
         color: #A8A8A8;
         margin-bottom: 10px;
}
.line{
         font-style: normal;
         font-weight: 400;
         font-size: 12px;
         line-height: 15px;
         color: #000000;
}
.work_list {
         font-style: normal;
         font-weight: 400;
         font-size: 14px;
         line-height: 24px;
         color: #595959;
         padding:  0px;
         margin-left: 15px;
         padding-bottom: 45px;
}
/* education styles */
.university_name {
         font-style: normal;
         font-weight: 700;
         font-size: 16px;
         line-height: 20px;
         color: #FB6D3A;
         margin: 0px 0px 10px 0px;
}
.university_position_name {
         font-style: normal;
         font-weight: 700;
         font-size: 14px;
         line-height: 17px;
         color: #000000;
         margin: 0px 0px 10px 0px;
}
.study_period {
         font-style: normal;
         font-weight: 400;
         font-size: 12px;
         line-height: 15px;
         color: #A8A8A8;
         margin: 0px;
}
/* sidebar styless */
.sidebar {
    background-color: #1E2939;
    color:#F5F7FA;
    padding-top: 40px;
    width: 370px;
}
.photo{
    width: 370px;
    margin-bottom: 50px;
}
.sidebar_tittle {
        color: #FFFFFF;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 10px;
}
.contacts, .tech_skills,.soft_skills  {
         margin-left: 40px;
}
.contacts {
         margin-bottom: 50px;
}
.contact_type {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        margin-right: 5px;
}
.contact_link {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #768190;
}
.tech_skills_list , .soft_skills_list {
        color: #FFFFFF;
        padding: 0px;
        margin-left: 17px;
}
.tech_skills_text , .soft_skill_text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
}
.tech_skills_dot , .soft_skill_dot  {
        color: #FB6D3A;
}
.soft_skills {
        margin-top: 45px;
        margin-bottom: 370px;
}